{% extends 'base.html' %}

{% block title %}
Admin
{% endblock %}

{% block body %}
<br>
<table class="table table-striped table-sm table-hover my-5 py-5">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Description</th>
              <th>Option description</th>
              <th>visibility</th>
              <th>Hide/Show</th>
              <th>price</th>
              <th>date</th>
              <th>image</th>
              <th>categories</th>
              <th>author</th>
              <th>availability</th>
              <th>assignment</th>
              <th>material</th>
              <th>Option material</th>
              <th>color</th>
              <th>Option color</th>
              <th>size</th>
              <th>weight</th>
              <th>guarantee</th>
              <th>Delete</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            {% for el in products%}
            <tr>
              <th><a href="product/{{el.id}}">{{el.id}}</a></th>
              <th><a href="product/{{el.id}}">{{el.title}}</a></th>
              <th>{{el.desc}}</th>
              <th>{{el.desc_opt}}</th>
              <th>{{el.visibility}}</th>
              <th><a href="/product/{{el.id}}/visibility">{% if el.visibility==False %}Show{% else %}Hide{% endif %}</a></th>
              <th>{{el.price}}</th>
              <th>{{el.date.strftime("%Y-%m-%d-%H.%M.%S")}}</th>
              <th>{{el.image}}</th>
              <th>{{el.categories}}</th>
              <th>{{el.author}}</th>
              <th>{{el.availability}}</th>
              <th>{{el.assignment}}</th>
              <th>{{el.material}}</th>
              <th>{{el.material_opt}}</th>
              <th>{{el.color}}</th>
              <th>{{el.color_opt}}</th>
              <th>{{el.size}}</th>
              <th>{{el.weight}}</th>
              <th>{{el.guarantee}}</th>
              <th><a href="/product/{{el.id}}/del">Delete</a></th>
              <th><a href="/product/{{el.id}}/edit">Edit</a></th>
            </tr>
            {% endfor %}

          </tbody>
        </table>
<br>
<p><a class="btn btn-primary" href="create" role="button">Create new</a></p>
<br>
<table class="table table-striped table-sm table-hover my-5 py-5">
          <thead>
            <tr>
              <th>ID</th>
              <th>Product id</th>
              <th>Date</th>
              <th>Name</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Post index</th>
              <th>Email</th>
              <th>Comment</th>
              <th>Processed</th>
              <th>To process</th>
              <th>---</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for el in orders %}
            <tr>
              <th>{{el.id}}</th>
              <th><a href="product/{{el.product_id}}">{{el.product_id}}</a></th>
              <th>{{el.date.strftime("%Y-%m-%d-%H.%M.%S")}}</th>
              <th>{{el.name}}</th>
              <th>{{el.phone}}</th>
              <th>{{el.address}}</th>
              <th>{{el.post_index}}</th>
              <th>{{el.email}}</th>
              <th>{{el.comment}}</th>
              <th>{{el.processed}}</th>
              <th><a href="/order/{{el.id}}/process">{% if el.processed==False %}Process{% else %}Cancel process{% endif %}</a></th>
              <th>---</th>
              <th><a href="/order/{{el.id}}/del">Delete</a></th>
            </tr>
            {% endfor %}

          </tbody>
        </table>
<br>
{% endblock %}