{% extends 'base.html' %}

{% block title %}
All products
{% endblock %}

{% block body %}
<main>
  <div class="container marketing">

    <div class="row mt-5 pt-5">
      <p>All products</p>
      {% for el in products %}
        <div class="col">
          {% if el.image %}
          <img src="{{(el.image.split(' '))[0]}}" alt="" width="200" height="200">
          {% else %}
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="200" height="200" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" role="img" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
          {% endif %}
        </div>
        <div class="col">
          <h2 class="card-title">{{el.title}}</h2>
          <p class="lead">{{el.desc_opt}}</p>
            {% if el.price %}
          <p class="lead">Price - {{el.price}}</p>
          {% endif %}
          <p><a class="btn btn-primary" href="../product/{{el.id}}" role="button">Подробнее »</a></p>
        </div>
    <hr class="featurette-divider">
      {% endfor %}
    </div>

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

</main>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>

{% endblock %}
