{% extends 'base.html' %}

{% block title %}
{{ search }}
{% endblock %}

{% block body %}

<div class="page">
        <div class="container">
            <div class="page__content">
                <section class="goods-categories">
                    <div class="goods-categories__title">Категории</div>


                    <div class="goods-categorie__cards">
                        {% for index in range(categories|length) %}
                        <div class="goods-categorie__card">
                            <a href="{{ url_for('category_product', category=categories[index]) }}" class="goods-categorie__link">
                                <div class="goods-categorie__title">{{categories[index]}}</div>
                                <div class="goods-categorie__img">
                                    <img src="{{ url_for('static', filename=cat_images[index]) }}" alt="card" class="goods-categorie__photo">
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                </section>
            </div>
        </div>
    </div>


{% endblock %}
