{% extends 'base.html' %}

{% block title %}
{{ search }}
{% endblock %}

{% block body %}
<main style="color: #000000">
  <div class="container marketing">

<div class="row mt-5 pt-5">
        <p>Categories</p>
    {% for index in range(categories|length) %}
      <div class="col">
        <a href="{{ url_for('category_product', category=categories[index]) }}">{{categories[index]}}</a>
        <img src="{{ url_for('static', filename=cat_images[index]) }}" alt="" width="50" height="50">
      </div>
    {% endfor %}
    </div>

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

</main>

{% endblock %}
