{% extends 'base.html' %}

{% block title %}
Home page
{% endblock %}

{% block body %}

<div class="page">
        <div class="container">
            <div class="page__content">
                <!-- <section class="slider">
                    <div class="slider__item">
                        <img src="images/dest/photo/slider-img.jpg" alt="slider__img" class="slider__img">

                        <div class="slider__info">
                            <div class="slider__title">Скидки на все товары до 50% только в этом месяце</div>
                            <div class="slider__text">Не упусти свой шанс!</div>
                            <a href="#" class="slider__btn">Подробнее</a>
                        </div>
                    </div>

                    <div class="slider__item">
                        <img src="images/dest/photo/slider-img.jpg" alt="slider-img" class="slider__img">

                        <div class="slider__info">
                            <div class="slider__title">Скидки на все товары до 50% только в этом месяце</div>
                            <div class="slider__text">Не упусти свой шанс!</div>
                            <a href="#" class="slider__btn">Подробнее</a>
                        </div>
                    </div>
                </section> -->


                <section class="popular-goods">
                    <div class="popular-goods__title">Популярные товары</div>

                    <div class="cards">
                        {% for el in four_popular_products %}
                        <div class="card">
                            <a href="{{ url_for('product', id=el.id) }}" class="card__link">
                                <div class="card__top">
                                    <img src="{{ url_for('static', filename=(el.image.split(' '))[0]) }}" alt="card" class="card__img">
                                    <div class="card__type type_popular">popular</div>
                                </div>

                                <div class="card__bottom">
                                    <div class="card__title">{{el.title}}</div>
                                    <div class="card__text">{{el.desc_opt}}</div>
                                    <div class="card__price price_popular">Цена:<span>{{ el.price }} бел.руб</span></div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}


                    </div>
                </section>

                <section class="categories">
                    <div class="categories__title">Категории</div>

                    <div class="categories__columns">
                        <div class="categories__col">
                            {% for i in range(2) %}
                            <div class="categorie__item categorie__item_min">
                                <img class="categorie__img" src="{{ url_for('static', filename=cat_images[i]) }}" alt="categogrie__img">

                                <div class="categorie__info">
                                    <div class="categorie__title">{{ categories[i] }}</div>

                                    <a href="{{ url_for('category_product', category=categories[i]) }}" class="categorie__button">Посмотреть</a>
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                        <div class="categories__col">
                            <div class="categorie__item categorie__item_max">
                                <img class="categorie__img" src="{{ url_for('static', filename=cat_images[2]) }}" alt="categogrie__img">
                                <div class="categorie__info">
                                    <div class="categorie__title">{{ categories[2] }}</div>

                                    <a href="{{ url_for('category_product', category=categories[2]) }}" class="categorie__button">Посмотреть</a>
                                </div>
                            </div>
                        </div>

                        <div class="categories__col">
                            <div class="categorie__item categorie__item_max">
                                <img class="categorie__img" src="{{ url_for('static', filename=cat_images[3]) }}" alt="categogrie__img">

                                <div class="categorie__info">
                                    <div class="categorie__title">{{ categories[3] }}</div>

                                    <a href="{{ url_for('category_product', category=categories[3]) }}" class="categorie__button">Посмотреть</a>
                                </div>

                            </div>
                        </div>

                        <div class="categories__col">
                            <div class="categorie__item categorie__item_min">
                                <img class="categorie__img" src="{{ url_for('static', filename=cat_images[4]) }}" alt="categogrie__img">

                                <div class="categorie__info">
                                    <div class="categorie__title">{{ categories[4] }}</div>

                                    <a href="{{ url_for('category_product', category=categories[4]) }}" class="categorie__button">Посмотреть</a>
                                </div>
                            </div>

                            <div class="categorie__item categorie__item_min">
                                <img class="categorie__img" src="{{ url_for('static', filename='images/dest/photo/all_cat_img.jpg') }}" alt="categogrie__img">

                                <div class="categorie__info">
                                    <a href="{{ url_for('categories') }}" class="categorie__button">Все категории</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="new-goods">
                    <div class="new-goods__title">Новые товары</div>

                    <div class="cards">

                        {% for el in four_new_products %}
                        <div class="card">
                            <a href="{{ url_for('product', id=el.id) }}" class="card__link">
                                <div class="card__top">
                                    <img src="{{ url_for('static', filename=(el.image.split(' '))[0]) }}" alt="card" class="card__img">
                                    <div class="card__type type_new">new</div>
                                </div>

                                <div class="card__bottom">
                                    <div class="card__title">{{el.title}}</div>
                                    <div class="card__text">{{el.desc_opt}}</div>
                                    <div class="card__price price_popular">Цена:<span>{{ el.price }} бел.руб</span></div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}

                    </div>
                </section>

                <section class="all-goods">
                    <div class="all-goods__title">Все товары</div>

                    <div class="cards">
                        {% for el in four_products %}
                        <div class="card">
                            <a href="{{ url_for('product', id=el.id) }}" class="card__link">
                                <div class="card__top">
                                    <img src="{{ url_for('static', filename=(el.image.split(' '))[0]) }}" alt="card" class="card__img">
                                </div>

                                <div class="card__bottom">
                                    <div class="card__title">{{el.title}}</div>
                                    <div class="card__text">{{el.desc_opt}}</div>
                                    <div class="card__price price_popular">Цена:<span>{{ el.price }} бел.руб</span></div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="all-goods__action">
                        <a href="{{ url_for('all_products', page_num=1) }}" class="all-goods__button">Показать все</a>
                    </div>

                </section>
            </div>
        </div>
    </div>

{% endblock %}
