{% extends 'base.html' %}

{% block title %}
{{ product.title }}
{% endblock %}

{% block body %}

<div class="page">
    <div class="container">
        <div class="page__content">
            <section class="current-good">
                <div class="current-good__wrapper">
                    <div class="current-good-slider">

                        {% for img in product.image.split(' ')[0:-1] %}
                        <div class="current-good-slider__item">
                            <img src="{{ url_for('static', filename=img) }}" alt="">
                        </div>
                        {% endfor %}


                    </div>

                    <div class="current-good__info">
                        <div class="info__about">
                            <div class="good__title">{{ product.title }}</div>
                            <div class="good__text">{{ product.desc_opt }}</div>
                            <div class="good__price">Цена:<span>{{ product.price }} бел.руб</span></div>
                            <a href="#" class="good__button">Оформить заказ</a>
                        </div>

                        <div class="info__characteristic">

                              {% if product.categories %}<div class="characteristic__name">Категория: <span class="characteristic__value">{{product.categories}}</span></div>{% endif %}
                              {% if product.author %}<div class="characteristic__name">Автор: <span class="characteristic__value">{{product.author}}</span></div>{% endif %}
                              {% if product.assignment %}<div class="characteristic__name">Назначение: <span class="characteristic__value">{{product.assignment}}</span></div>{% endif %}
                              {% if product.material %}<div class="characteristic__name">Материал: <span class="characteristic__value">{{product.material}}</span></div>{% endif %}
                              {% if product.material_opt %}<div class="characteristic__name">Доп. материал: <span class="characteristic__value">{{product.material_opt}}</span></div>{% endif %}
                              {% if product.color %}<div class="characteristic__name">Цвет: <span class="characteristic__value">{{product.color}}</span></div>{% endif %}
                              {% if product.color_opt %}<div class="characteristic__name">Доп. цвет: <span class="characteristic__value">{{product.color_opt}}</span></div>{% endif %}
                              {% if product.size %}<div class="characteristic__name">Размер: <span class="characteristic__value">{{product.size}}</span></div>{% endif %}
                              {% if product.weight %}<div class="characteristic__name">Вес: <span class="characteristic__value">{{product.weight}}</span></div>{% endif %}
                              <!-- {% if product.guarantee %}<div class="characteristic__name">Категория: <span class="characteristic__value">{{product.price}}</span></div>{% endif %} -->

                        </div>
                    </div>
                </div>

                <div class="full-description">
                    <div class="full-description__title">Полное описание</div>

                    <div class="full-description__text">
                        <p>{{ product.desc }}</p>
                    </div>
                </div>
            </section>

            <section class="similar-products">

                {% if four_products %}
                <div class="similar-products__title">Похожие товары</div>
                {% endif %}

                <div class="cards">

                    {% for el in four_products %}
                    <div class="card">
                        <a href="{{ url_for('product', id=el.id) }}" class="card__link">
                            <div class="card__top">
                                <img src="{{ url_for('static', filename=(el.image.split(' '))[0]) }}" alt="card" class="card__img">
                            </div>

                            <div class="card__bottom">
                                <div class="card__title">{{el.title}}</div>
                                <div class="card__text">{{el.desc_opt}}</div>
                                <div class="card__price">Цена:<span>{{el.price}} бел.руб</span></div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}

                </div>
            </section>
        </div>
    </div>
</div>

{% if success == 1 %}
<script>
  alert("Success!");
</script>
{% elif success == 2 %}
<script>
  alert("Fail!");
</script>
{% endif %}


<!--<div class="col-md-6 py-5">
        <h2>{{ product.title }}</h2>
    <p>{{ product.desc_opt }}</p>
    <form action="{{ url_for('buy', product_id=product.id) }}" method="post">
        <input type="text" name="name" id="name" class="form-control" placeholder="Name"><br>
        <input type="tel" name="phone" id="phone" class="form-control" placeholder="Phone"><br>
        <input type="text" name="post_index" id="post_index" class="form-control" placeholder="Post index"><br>
        <input type="text" name="address" id="address" class="form-control" placeholder="Address"><br>
        <input type="text" name="email" id="email" class="form-control" placeholder="Email"><br>
        <textarea name="comment" id="comment" class="form-control" placeholder="Comment"></textarea><br>
        <input type="submit" value="Buy">
    </form>
</div>-->
    <div class="modal hide">
        <div class="modal__inner">
            <div class="modal__content">
                <div class="modal__top">
                    <div class="modal__title">Оформление заказа</div>
                    <div class="modal__close"></div>
                </div>
                <div class="modal__text">Контактные данные</div>
                <form action="{{ url_for('buy', product_id=product.id) }}" class="modal__form" method="post">
                    <input type="text" name="name" class="modal__input" placeholder="ФИО">
                    <input type="text" name="phone" class="modal__input" placeholder="Телефон">
                    <input type="text" name="address" class="modal__input" placeholder="Адрес">
                    <input type="text" name="post_index" class="modal__input" placeholder="Индекс">
                    <input type="text" name="email" class="modal__input" placeholder="Электронная почта">
                    <!--<input type="text" name="comment" class="modal__input" placeholder="Комментарий">-->
                    <textarea name="comment" class="modal__input" placeholder="Comment"></textarea><br>

                    <div class="modal__price">Цена: <span>{{ product.price }} бел.руб </span></div>
                    <input class="modal__button" type="submit" value="Подтвердить заказ">
                </form>
            </div>
        </div>
    </div>




{% endblock %}
