{% extends 'base.html' %}

{% block title %}
{{ search }}
{% endblock %}

{% block body %}

<div class="page">
    <div class="container">
        <div class="page__content">
            <section class="all-goods">
                <div class="all-goods__title">Все товары</div>

                <div class="cards">

                    {% for el in sorted %}
                    <div class="card">
                        <a href="{{ url_for('product', id=el.id) }}" class="card__link">
                            <div class="card__top">
                                <img src="{{ url_for('static', filename=(el.image.split(' '))[0]) }}" alt="card" class="card__img">
                            </div>

                            <div class="card__bottom">
                                <div class="card__title">{{el.title}}</div>
                                <div class="card__text">{{el.desc_opt}}</div>
                                <div class="card__price">Цена:<span>{{el.price}} бел.руб</span></div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}

                </div>

            </section>
        </div>
    </div>
</div>

{% endblock %}
